.bg-regis {
    background: rgba(0, 0, 0, 0.5);
}

.regis {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4rem 0 0 0;
}

.logo {
    margin: 1.5rem 0 0 3rem;
    width: 300px;
    height: auto;
}

.wrapgis {
    padding: 0 0 10rem 0;
    margin-left: 0;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.regisLeft {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    max-width: 100%;
    flex-direction: column;
    position: relative;
    display: flex;
    padding: 3rem;
}

.deskgis {
    margin-top: 3rem;
    font-size: 15px;
    text-align: center;
}

.linkto {
    color: blue;
}

.regisButton {
    width: 60%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(147,132,103);
    border-radius: 15px;
    text-align: center;
    margin: 1rem;
    padding: 10px;
    color: #ffff;
    transition: 0.3s;
    background: transparent;
    position: relative;
    font-size: 18px;
}

.regisButton:hover {
    background: rgb(147,132,103);
}

.regisRight {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 9rem 3rem 0 3rem;
    text-align: center;
}

.regis-group {
    position: relative;
    font-size: 1rem;
    text-align: center;
    background: transparent;
    color: #ffff;
    border: 2px solid rgb(147,132,103);
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    padding: 4rem 2rem;
    display: inline;
}
.regis h1 {
    padding: 3rem;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.submit {
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 1rem;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background: transparent;
    color: #ffff;
    border: 2px solid rgb(147,132,103);
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    display: inline-flex;
}

.submit:hover {
    background: rgb(147,132,103);
}

.input-regis {
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(255, 255, 255, .5);
    background: rgba(255, 255, 255, .1);
    color: #ffff;
    font-size: 18px;
    border-radius: 6px;
    width: 100%;
    height: auto;
    padding: 8px;
}

.input-regis:hover {
    background: #ffffff;
    color: #000000;
}

@media screen and (max-width:640px) {
    .logo {
        margin: 2rem;
        width: 60%;
        height: 100%;
        position: relative;
        display: flex;
    }
    
    * {
        position: relative;
        padding: 0;
        margin: 0;
    }

    .regis {
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 3rem 1rem;
    }
    
    .wrapgis {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .regisLeft {
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 2rem;
        margin: 0;
    }

    .regisRight {
        width: auto;
        margin: 1rem;
        padding: 0;
        justify-content: center;
        position: relative;
    }

    .regisLeft .regisButton {
        position: relative;
        width: auto;
        margin: 2rem 0;
        padding: 10px;
    }
    
    .regisButton {
        margin: 2rem 0rem;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .submit {
        padding: 10px;
        margin: 2rem 0 0rem 0;
        width: 100%;
        position: relative;
        font-size: 18px;
        font-weight: 600;
    }

    .input-regis {
        background: rgba(255, 255, 255, .1);
    }

    .input-regis:hover {
        background: #ffffff;
        color: #000000;
    }
    
    .regis h1 {
        margin: 0;
        justify-content: center;
        text-align: center;
    }
}